version: "3.8"

services:

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    hostname: kafka

    ports:
      - "9092:9092"

    environment:

      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT

      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      CLUSTER_ID: "vZP7f9HsSgeNkZUdDFNjNw"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


  main_service:
    image: main_service
    build:
      context: ../../backend/main_service
      dockerfile: ../../backend/main_service/Dockerfile.dev

    volumes:
      - ../../backend/main_service/:/app   # Mount source code

    ports:
      - "8080:8080"

    # environment:
    #   SPRING_PROFILES_ACTIVE: dev

  python_ai:
    image: python_ai
    build:  ../../backend/python_ai/
    env_file:
      - ../../backend/python_ai/.env
    ports:
      - "8000:8000"
    volumes:
      - ../../backend/python_ai/:/code/app/
      - /code/app/venv

